@media screen and (max-width: 580px) {
  .header {
    margin: 0;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin: 28px auto auto 27px;
  }

  .profile {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .profile__title {
    font-size: 22px;
    line-height: 26px;
    margin-top: 30px;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    margin-top: 30px;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    margin-top: 14px;
  }

  .profile__add-button {
    margin: 0;
    width: 282px;
    margin-top: 36px;
  }
}
