.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 19x;
  display: none;
}

.modal__opened {
  display: flex;
}

.modal__container {
  background-color: #fff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  max-width: 430px;
  max-height: 330px;
  border-radius: 10px;
  color: #000;
}

.modal__heading {
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 54px;
}
/* i just cant figure out how to fix my borders
 on my input fields they wont change 
 and im out of time i need to turn in my project 
 please how can i style my input fields*/
.modal__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.modal__close {
  background-image: url(../images/modal\ Close\ Icon.svg);
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -45px;
  right: -45px;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__button {
  width: 358px;
  height: 50px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.modal__button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 580px) {
  .modal__container {
    max-width: 282px;
    max-height: 322px;
    padding: 22px;
  }

  .modal__button {
    max-width: 238px;
    max-height: 46px;
  }

  .modal__close {
    right: 0;
    width: 26px;
    height: 26px;
  }
}
