@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/profile.css);
.cards {
  margin-top: 51px;
}

.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10%;
  list-style: none;
}

.card__image {
  height: 282px;
  width: 282px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
}

.card__like-button {
  background: transparent url(../images/Vector.svg) center no-repeat;
  width: 21px;
  height: 18px;
}
